<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{user.username}}</h1>
    {% else %}
    <h1>Welcome</h1>
    {% endif %}
    <hr>

    {% for feature in features %}
    <h1>Hey, this is {{feature.name}}'s blog page.</h1>
    <p>ID: {{feature.id}}.<br>
       About him: {{feature.details}}
    </p>
    {% if feature.is_true == True %}
    <p>Person is telling the truth</p>
    {% else %}
    <p>Person is lying</p>
    {% endif %}
    <hr>
    {% endfor %}
    {% comment %} <h1>Hey, this is {{feature2.name}}'s blog page.</h1>
    <p>ID: {{feature2.id}}.<br>
       About him: {{feature2.details}}
    </p>
    <hr>
    <h1>Hey, this is {{feature3.name}}'s blog page.</h1>
    <p>ID: {{feature3.id}}.<br>
       About him: {{feature3.details}}
    </p> {% endcomment %}

    {% if user.is_authenticated %}
    <h2>Yes, you are registered.</h2>
    {% else %}
    <h2>Log in</h2>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="submit"/>
   </form>
</body>
</html>